@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.nav_container {
    position: relative;
}

.nav_container header .logo-title {
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(74, 74, 189);
}

header {
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
    border-bottom: 1px solid #d3c5c5;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2rem;
}

nav .anchor {
    margin: 0 0.9rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

nav a:hover {
    color: #0035e4;
}

header div,
nav {
    display: flex;
    align-items: center;
    position: relative;
}

header .about:hover {
    color: #0035e4;
}

 @media only screen and (max-width: 800px) {
    header {
        padding: 0 1rem;
    }
 }


 @media only screen and (max-width: 500px) {
    nav .anchor {
        margin: 0 0.8rem;
        font-weight: 600;
        font-size: 16px;
    }
 }